.radio-player {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover; /* Ensure the background covers the full screen */
  background-repeat: no-repeat; /* Prevent the background from repeating */
  background-position: center center; /* Center the background image */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
.radio-title {
  font-size: 2em; /* Smaller font size for smaller screens */
}

.radio-version {
  font-size: 0.8em; /* Adjust version text size for smaller screens */
}

.play-button img {
  width: 80px; /* Smaller button size for smaller screens */
  height: 80px;
}
}

/* Further adjustments for very small screens */
@media (max-width: 480px) {
.radio-title {
  font-size: 1.5em;
}

.radio-version {
  font-size: 0.7em;
}

.play-button img {
  width: 60px;
  height: 60px;
}
}
